<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cities</title>
</head>
<body>
<div style="width: 34%; margin-left: auto; margin-right: auto;">
    <label for="cities">Cities </label> <br/>
    <select size="5" id="cities">
        <option th:each="c:${cities}" th:text="${c.name}"></option>
    </select><br/>
    <form action="cities/add_city" method="post">
        <label for="city">City </label>
        <input type="text" id="city" name="city">
        <button type="submit">Add</button>
    </form>
    <table>
        <thead>
        <tr>
            <th>#</th>
            <th>City name</th>
            <th>x</th>
            <th>E</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="c:${cities}" >
            <td th:text="${c.id}"></td>
            <td th:text="${c.name}"></td>
            <td> <a th:href="@{cities/delete(id=${c.id})}">delete </a> </td>
            <td> <a href="">edit </a>   </td>

        </tr>

        </tbody>
    </table>
</div>
</body>
</html>