<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> People by city</title>
</head>
<body>
<h1 th:text="${city.name}">People by city</h1>
<table>
  <thead>
  <tr>
     <th>First name</th>
     <th>Last name</th>
     <th>email</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="p : ${city.people}">
    <td th:text="${p.firstName}"></td>
    <td th:text="${p.lastName}"></td>
    <td th:text="${p.email}"></td>
  </tr>
  </tbody>
</table>

</body>
</html>