<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>People</title>
</head>
<body>
<div th:if="${info!= null}" style="width:100%; text-align:center;">
    <h1 th:text="${info}"></h1>
</div>
<div style="width: 34%; margin-left: auto; margin-right: auto">
   <form method="post" action="/people/add">
       <table>
           <tr>
               <td>
                   <label for="f_name">First Name:</label>
               </td>
               <td>
                   <input type="text" name="fname" id="f_name">
               </td>
           </tr>
           <tr>
               <td>
                   <label for="l_name">Last Name:</label>
               </td>
               <td>
                   <input type="text" name="lname" id="l_name">
               </td>
           </tr>
           <tr>
               <td>
                   <label for="bday">Birthday:</label>
               </td>
               <td>
                   <input type="date" name="bday" id="bday">
               </td>
           </tr>
           <tr>
               <td>
                   <label for="email">Email:</label>
               </td>
               <td>
                   <input type="text" name="email" id="email">
               </td>
           </tr>
           <tr>
               <td>
                   <label for="address">Address:</label>
               </td>
               <td>
                   <input type="text" name="address" id="address">
               </td>
           </tr>
           <tr>
               <td>
                   <label for="phone">Phone:</label>
               </td>
               <td>
                   <input type="text" name="phone" id="phone">
               </td>
           </tr>
           <tr>
               <td>
                   <label for="city">City:</label>
               </td>
               <td>
                   <select id="city" name="cityid" required>
                        <option value="">---CHOOSE CITY---</option>
                       <option th:each="c : ${cities}" th:text="${c.name}" th:value="${c.id}" ></option>
                   </select>
               </td>
           </tr>
       </table>
       <button type="submit">Add  </button>
   </form>
    <table>
        <thead>
        <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>City</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p : ${people}">
            <td th:text="${p.id}"></td>
            <td th:text="${p.firstName}"></td>
            <td th:text="${p.lastName}"></td>
            <td th:text="${p.city.name}"></td>
            <td>
                <a th:href="@{/people/delete/(id=${p.id})}">Delete</a>
            </td>
            <td>
                <a th:href="@{/people/meetings/(id=${p.id})}">Meetings</a>
            </td>

        </tr>
        </tbody>
    </table>
</div>

</body>
</html>